includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/ArchTest.php
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: false
